* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 20px;
  color: white;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 4fr;
  height: 100vh;
  width: 100vw;
}

.menu {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  background-color: rgb(25, 146, 212);
  padding: 12px 24px;
  font-weight: bold;
}

.menu-branding {
  font-size: 28px;
  height: 72px;
  gap: 8px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.menu ul {
  margin-top: 36px;
  list-style-type: none;
  display: grid;
}

.menu li {
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding-left: 8px;
  gap: 18px;
}

.header {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  background-color: green;
  padding: 12px;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 12px;
}

.header * {
  background-color: chocolate;
  padding: 12px;
}

.header-search {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.header-notifications {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.header-greeting {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.header-buttons {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.content {
  grid-column: 2 / -1;
  background-color: blueviolet;
  display: grid;
  grid-template-columns: auto minmax(100px, 300px);
  gap: 24px;
  padding: 24px;
}

.section-title {
  background-color: cadetblue;
  padding-bottom: 12px;
}

.projects {
  grid-column: 1 / 2;
  background-color: green;
  display: grid;
}

.projects .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}

.project-card {
  background-color: chocolate;
  height: 200px;
}

.activity {
  grid-column: 2 / 3;
  background-color: brown;
  gap: 24px;
}

.announcements,
.trending {
  background-color:green;
}

.announcements .cards {
  display: grid; 
  gap: 2px;
  padding: 8px;
}

.announcement-card {
  background-color: chocolate;
}

.trending .cards {
  display: grid;
  gap: 8px;
  padding: 8px;
}

.trending-card {
  background-color: chocolate;
}
